form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: auto;
  background-color: transparent;

  .find-user {
    display: flex;
    flex-direction: column-reverse;
    width: 125px;
    background-color: rgb(35, 38, 43);
    color: #eee;
    z-index: 5000;
    border-radius: 5px;
    padding: 10px 10px;
  }
}
