form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: auto;
  background-color: transparent;

  .find-user {
    display: flex;
    flex-direction: column-reverse;
    width: 125px;
    border: solid 1px blue;
    background-color: black;
    color: #eee;
    z-index: 5000;
  }
}
