.vertical-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 0 275px;
  overflow-y: auto;

  .buttons {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    border-bottom: 1px solid black;
    svg {
      cursor: pointer;
      font-size: 27px;
    }
  }

  .streamer-card {
    display: flex;
    padding: 5px 5px;
    cursor: pointer;

    img {
      border-radius: 50%;
      height: 35px;
      width: 35px;
    }

    .details {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 18px;
        font-weight: bold;
        color: #eee;
      }
      .playing {
        font-size: 14px;
      }
    }
  }
}

.header {
  padding: 10px 10px;
  font-weight: bold;
  color: #eee;
}

.viewer-count {
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: 3.5px;
  svg {
    color: red;
    font-size: 10px;
    margin-right: 2.5px;
  }
  * {
    margin: auto 0 auto 0;
  }
}
