.selected {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 5px;
    .chat {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        .message {
            display: flex;
        }
    }
}
