.login-btn {
    display: flex;
    padding: 10px 10px;
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;

    .icon {
        height: 100%;
        margin-left: 10px;
        border-left: 1px solid #eee;
        svg {
            margin-left: 10px;
        }
    }
}
