.container {
    width: 100%;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;

    .main-app {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .inner-app {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
