body,
html {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.55em;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}
